{% extends 'base.html.twig' %}

{% block title %}Название Статьи{% endblock %}

{% block body %}

    <main class="container main-margin">

        {% if article %}
            <article>
                <h1>{{ article.title }}</h1>
                <p>Статья из категории
                    <a href="{{ path('article_by_category', { 'category':article.category.url }) }}">
                        {{ article.category.name | upper }}
                    </a>
                </p>

                <p>Написана {{ article.createdOn | date("m.d.Y H:i") }}</p>

                <p>{{ article.text }}</p>

                {% for img in article.image %}
                    <img src="{{ asset('img/'~ img.src )}}" alt="{{ img.alt }}">
                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article_delete', { 'id':article.id, 'category': article.category.url}) }}">Удалить</a>
                {% endif %}
            </article>
        {% else %}
            <h2>Статья по Вашему запросу еще не была написана</h2>
        {% endif %}

    </main>

{% endblock %}
