{% extends 'base.html.twig' %}

{% block title %}{{ category_by_url.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block body %}
    <aside>
        <nav>
{#            all_categories #}
            {% for category in all_categories %}
                <a href="{{ path('article_by_category', {'category':category.url}) }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </nav>
    </aside>

    <main class="container main-margin">
        <h2>Статьи из категории {{ category_by_url.name | upper }}</h2>
        <p>{{ category_by_url.description }}</p>
        {% for article in category_by_url.articles %}
            <article class="shadow-block">
                <h3>{{ article.title | upper}}</h3>
                <span>{{ article.createdOn | date("m.d.Y H:i") }}</span>
                <p>{{ article.text[:400] }}...</p>
                <a class="shadow-btn more-btn bg-brown-9 text-brown-1 text-center"
                   href="{{ path('article_by_id', {'id':article.id}) }}">
                    Подробнее
                </a>
            </article>
        {% endfor %}

    </main>
{% endblock %}
